* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgb(196, 164, 132) 0%, rgba(255, 255, 255, 1) 100%);
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

header {
    font-size: 36px;
    font-weight: bold;
    color: #ff6f61;
    padding-top: 20px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    animation: slideUp 2s ease-in-out;
}

.summary-item {
    font-size: 18px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(-200px);
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #fff;
}

.animate-from-left {
    animation-name: slideInLeft;
}

.animate-from-right {
    animation-name: slideInRight;
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}

.image {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.button {
    padding: 15px 30px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    margin-top: 30px;
}

.button:hover {
    background-color: #ff3e2e;
    transform: scale(1.2);
}

.button:active {
    transform: scale(1);
}

@media (max-width: 768px) {
    body {
        height: auto;
    }

    header {
        font-size: 28px;
    }

    .summary-item {
        font-size: 16px;
        padding: 15px;
    }

    .button {
        font-size: 18px;
        padding: 12px 25px;
    }

    .image {
        max-width: 150px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 24px;
    }

    .summary-item {
        font-size: 14px;
        padding: 12px;
    }

    .button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .image {
        max-width: 120px;
        margin-top: 10px;
    }
}
